@value makerDarkG, makerPink from '../../../common/colors.css';
@value sizeRegular, weightBold from '../../../common/size.css';

.container {
  width: 100%;
  height: 100vh;
  background-color: makerDarkG;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  max-width: 25rem;
  min-width: 320px;
}

.option {
  width: 90%;
  display: flex;
  margin: sizeRegular;
}

.link {
  color: makerPink;
  margin-left: sizeRegular;
}

.link:hover {
  cursor: pointer;
  font-weight: weightBold;
}
