@value mainFont,fontTiny,fontSmall,fontRegular,fontMedium,fontLarge,fontBig,fontHuge,weightLight,weightRegular,weightMedium,weightBold,weightExtraBold,borderRadius from '/common/size.css';
@value makerBlack,makerDarkG,makerGray from '/common/colors.css';

body {
  font-family: mainFont;
  color: makerBlack;
}

/* Typography */
h1 {
  font-size: fontHuge;
  font-weight: weightExtraBold;

  margin: 0.5rem 0;
}

h2 {
  font-size: fontBig;
  font-weight: weightExtraBold;

  margin: 0.5rem 0;
}

h3 {
  font-size: fontLarge;
  font-weight: weightBold;
  margin: 0.5rem 0;
}

h4 {
  font-size: fontMedium;
  font-weight: weightBold;

  margin: 0.5rem 0;
}

p {
  font-size: fontRegular;
  font-weight: weightMedium;

  margin: 0.25rem 0;
}

span {
  font-size: fontSmall;
  font-weight: weightRegular;
  color: makerDarkG;
  margin: 0.125rem 0;
}

input::placeholder,
textarea::placeholder {
  font-family: mainFont;
  font-size: fontSmall;
  font-weight: weightRegular;
  color: makerGray;
}

textarea {
  font-family: mainFont;
  font-size: fontSmall;
}

button {
  font-family: mainFont;
}
