@value sizeRegular, mainFont, fontTiny, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, fontHuge, weightLight, weightRegular, weightMedium, weightBold, weightExtraBold, borderRadius from '/common/size.css';
@value makerBlack, makerWhite, makerDarkG, makerGray, makerShadow from '/common/colors.css';

body {
  font-family: mainFont;
  color: makerBlack;
}

/* Typography */
h1 {
  font-size: fontHuge;
  font-weight: weightExtraBold;

  margin: 0.5rem 0;
}

h2 {
  font-size: fontBig;
  font-weight: weightExtraBold;
  margin: 0.5rem 0;
}

h3 {
  font-size: fontLarge;
  font-weight: weightBold;
  margin: 0.5rem 0;
}

h4 {
  font-size: fontMedium;
  font-weight: weightBold;
  margin: 0.5rem 0;
}

p,
label {
  font-size: fontRegular;
  font-weight: weightMedium;
  margin: 0.25rem 0;
}

span {
  font-size: fontSmall;
  font-weight: weightRegular;
  color: makerDarkG;
  margin: 0.125rem 0;
}

input,
textarea {
  font-family: mainFont;
  font-size: fontRegular;
  font-weight: weightMedium;
}

input::placeholder,
textarea::placeholder {
  font-family: mainFont;
  font-size: fontRegular;
  font-weight: weightMedium;
  color: #888c99;
}

select {
  width: 100%;
  padding: sizeRegular sizeMedium;
  border: none;
  outline: none;
  font-family: mainFont;
  font-size: fontRegular;
  font-weight: weightMedium;
  appearance: none;
}

select::-ms-expand{
  display:none;
}

button {
  font-family: mainFont;
}

svg {
  color: makerDarkG;
}

::-webkit-scrollbar {
  width: 1rem;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: makerShadow;
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  margin: sizeRegular;
  border-radius: 0.5rem;
  background-color: makerWhite;
  box-shadow: inset 0px 0px 5px makerShadow;
}
