@value makerWhite, makerGray, makerDarkG from "../../common/colors.css";
@value borderRadius from "../../common/size.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: borderRadius;
}

.noBack {
  background-color: makerWhite;
}

.loading {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid makerGray;
  border-top: 3px solid makerDarkG;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
