@value mediaQuery from '../../common/size.css';
@value makerWhite, makerGray, makerShadow from '../../common/colors.css';

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: overlay;
}

@media screen and (max-width: mediaQuery) {
  .list {
    flex-direction: row;
  }
}
