@value sizeSmall, sizeRegular, fontRegular, weightBold, borderRadius from '../../common/size.css';
@value makerBlack, makerPurple, makerLightPurple from '../../common/colors.css';

.container {
  width: 4.5rem;
  height: 2rem;
  margin: 0 -0.35rem;
  border: 2px solid makerBlack;
  border-bottom: none;
  border-radius: borderRadius borderRadius 0 0;
  background-color: makerLightPurple;
  display: flex;
  justify-content: center;
  transition: all 150ms ease-in-out;
}

.container:first-child {
  margin-left: sizeSmall;
}

.container:last-child {
  margin-right: sizeSmall;
}

.selected {
  height: 2.7rem;
  background-color: makerPurple;
}

.button {
  width: 100%;
  font-size: fontRegular;
  font-weight: weightBold;
}
