@value sizeLarge, borderRadius, mediaQuery from "../../common/size.css";
@value makerWhite, makerBlack, makerBack, makerBigShadow from "../../common/colors.css";

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerBack;
  z-index: 101;
}

.container {
  width: 760px;
  height: 450px;
  margin: 0 auto;
  padding: sizeLarge;
  border-radius: borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  background-color: makerWhite;
}

@media screen and (max-width: mediaQuery) {
  .container {
    max-width: 480px;
    min-width: 320px;
    width: 90%;
    padding: sizeLarge 1.5rem;
  }
}
