@value makerBlack, makerWhite, makerSmallShadow from '../../common/colors.css';
@value fontLarge, mediaMobile from '../../common/size.css';

.xIcon {
  width: 2.16rem;
  height: 2.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid makerBlack;
  border-radius: 50%;
  background-color: makerWhite;
  filter: makerSmallShadow;
}

.xIcon svg {
  width: 1.85rem;
  height: 1.85rem;
  color: makerBlack;
  stroke-width: 3px;
}
