@value sizeRegular, mediaQuery from "../../common/size.css";

.button {
  margin-left: sizeRegular;
}

.button svg {
  width: 1.75rem;
  height: 1.75rem;
}

.button svg:hover {
  cursor: pointer;
  animation: down 300ms linear 2;
}

@keyframes down {
  0% {
    transform: scaleY(0.9);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: mediaQuery) {
  .button {
    display: none;
  }
}
