@value makerWhite, makerBlack, makerGray, makerDarkG, makerGreen from '../../common/colors.css';
@value sizeRegular, borderRadius, fontMedium, weightBold from '../../common/size.css';

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.75rem 0;
  margin: 1.25rem auto;
  border: solid 2px makerBlack;
  border-bottom: 4px solid makerBlack;
  border-radius: borderRadius;
  font-size: fontMedium;
  font-weight: weightBold;
  color: makerBlack;
  background-color: makerGreen;
  overflow: hidden;
  z-index: 2;
  transition: transform 300ms ease-in-out;
}

.black {
  color: makerWhite;
  background-color: makerBlack;
}

.button:hover {
  transform: scale(1.02);
}

.button:disabled:hover {
  transform: none;
}

.loading {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 3px solid makerWhite;
  border-top: 3px solid makerDarkG;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
