@import "./common/reset.css";
@import "./common/common.css";
@value makerWhite, makerLightBack from './common/colors.css';
@value mediaMobile from './common/size.css';

html {
  background: left top / cover url("./assets/back.png");
}

body {
  background-color: makerWhite;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

#root {
  overflow: hidden;
}

@media screen and (max-width: mediaMobile) {
  html {
    font-size: 14px;
  }
}
